<link rel="stylesheet" href="/css/forgot_password.css">

<div class="forgot-container">
    <div class="row">
        <div class="col">

            <h1>Change Your Password !</h1>

            <div class="form-group">
                <form class="form" method="POST" action="/forgotPassword/password-changed">
                    <label for="newPassword">Enter new Password</label>
                    <input type="password" required name="newPassword" class="form-control" id="newPassword"
                        aria-describedby="emailHelp">
                    <label for="confirmPassword">Re-Enter new Password</label>
                    <input type="password" required name="confirmPassword" class="form-control" id="confirmPassword">
                    <input type="hidden" name="accessToken" value="<%=accessToken%>">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>

        </div>
    </div>
</div>