<div class="container">
    <div class="row">
        <div class="col">
            <form class="form" method="POST" action="/forgotPassword/password-changed">
                <div>
                    <h1>
                        Change Password
                    </h1>
                </div>
                <div class="form-group">
                    <label for=" newPassword">Enter new Password</label>
                    <input type="password" required name=" newPassword" class="form-control" id=" newPassword"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Re-Enter new Password</label>
                    <input type="password" required name="confirmPassword" class="form-control" id="confirmPassword">
                </div>
                <input type="hidden" name="accessToken" value="<%=accessToken%>">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>