<link rel="stylesheet" href="/css/forgot_password.css">

<div class="forgot-container">
    <div class="row">
        <div class="col">

            <h1>Forgot Your Password ?</h1>

            <div class="form-group">
                <form class="form" method="POST" action="/forgotPassword/send-mail">
                    <p>Enter the email address associated with your account and we’ll send you a link to reset your
                        password.</p>
                    <label for="email">Email</label>
                    <input type="email" name="email" required class="form-control" id="email"
                        placeholder="abc@example.com">
                    <button type="submit" class="btn">Send</button>
                    <span><strong>Note:</strong>After submit mail you will get a link to given email id where a password
                        reset link will be provided. Please follow that link to reset your account password.</span>
                </form>
            </div>

        </div>
    </div>
</div>