.forgot-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0;

  .row {
    margin-top: 10vh;
    width: 80vw;
    max-width: 450px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px lightgrey;
    box-sizing: border-box;

    .col {
      background: whitesmoke;
      width: 100%;
      padding: 1rem 2rem;
      box-sizing: border-box;

      h1 {
        text-align: center;
      }

      .form-group {
        overflow: hidden;
      }

      .form {
        p {
          text-align: center;
          margin-bottom: 1vh;
          color: grey;
        }

        label {
          font-size: 1.2rem;
        }

        input {
          width: 100%;
          padding: 0.8rem;
          font-size: 18px;
          font-weight: 500;
          margin-top: 1vh;
          outline: none;
          border-bottom: 2px solid #b0b3b9;
          border-radius: 5px;
        }

        button {
          display: inline-block;
          width: 100%;
          color: white;
          font-size: 1.8rem;
          font-weight: 600;
          margin: 20px 0;
          padding: 10px;
          text-align: center;
          transition: 0.5s;
          background-size: 200% auto;
          cursor: pointer;
          border: none;
          border-radius: 10px;
          background-image: linear-gradient(
            to right,
            #da22ff 0%,
            #9733ee 51%,
            #da22ff 100%
          );
          &:hover {
            background-position: right center; /* change the direction of the change here */
            text-decoration: none;
          }
        }

        span {
          color: grey;
        }
      }

      .new-account {
        font-size: medium;
        text-align: center;
        a {
          text-decoration: none;
          font-size: large;
          font-weight: 600;
          color: #9524ff;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .forgot-container .row {
    width: 90vw;
    min-width: 350px;
    max-width: 450px;
  }
}

@media only screen and (max-width: 350px) {
  .forgot-container .row {
    margin: 1vh;
    box-shadow: none;
  }
  .forgot-container .row .col {
    background: white;
  }
}

@media only screen and (max-width: 300px) {
  .forgot-container .row {
    margin-top: 1vh;
    width: 100vw;
    min-width: none;
  }
  .forgot-container .row .col {
    padding: 1rem 2.5rem;
  }
}
