.home-container {
  margin: 0;
  box-sizing: content-box;
  background: white;
  #home-flex {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    box-sizing: content-box;
    box-sizing: border-box;
    .home-flex-child {
      margin-top: 90px;
      width: 300px;
      .card {
        background-color: white;
        margin: 20px 0 0 0 !important;
        box-shadow: 0px 2px 12px 1px rgb(167, 167, 167);
      }
    }

    #user-dashboard {
      #absolute-div-dashboard {
        position: fixed;
        background: linear-gradient(to right, #da22ff, #9733ee);
        margin: 0 10px 10px 10px !important;
        padding: 15px;
        width: 280px;
        border-radius: 5px;
      }

      #dashboard-pic {
        height: 230px;
        width: 250px;
        max-width: 250px;
        margin: 0;

        img {
          width: 100%;
          height: 100%;
          border-radius: 8px 8px 0 0;
          background-color: white;
        }
      }
      .card-profile {
        width: 250px;
        border-radius: 0 0 8px 8px;
        padding: 10px;
        background-color: white;
      }

      #friends-dashboard-count {
        h5 {
          font-size: 1.1rem;
        }
        #view-profile {
          font-size: 1.5rem;
        }
      }

      #friend-info {
        margin-top: 370px;

        #absolute-div-friend {
          width: 280px;
          background: linear-gradient(to right, #da22ff, #9733ee);
          margin: 10px;
          padding: 15px;
          position: fixed;
          height: calc(100vh - 33rem);
          overflow-y: scroll;
          border-radius: 5px;
        }

        #absolute-div-friend::-webkit-scrollbar {
          width: 0;
          display: none;
        }

        h4 {
          margin: 0px;
          text-align: center;
        }

        .list-group-item {
          text-align: center;
          padding: 6px 20px;
          margin: 5px 0;
          width: 250px;
          background-color: white;
          border-radius: 5px;
          .profile-pic-holder {
            width: 45px;
            height: 45px;
            margin: 0px 5px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 50px;
            }
          }

          .profile-name-holder {
            margin: 0px;
            padding-top: 5px;

            a {
              text-decoration: none;
              color: black;
              text-transform: capitalize;
            }
            a:hover {
              color: #9e00ce;
            }
          }
        }
      }
    }

    #post-info {
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      background-color: whitesmoke;
      .card-body {
        textarea {
          width: 100%;
        }
        #post-btn {
          width: 100px;
          font-size: 20px;
          font-weight: 600;
          transition: 0.5s;
          background-size: 200% auto;
          border: none;
          background-image: linear-gradient(
            to right,
            #da22ff 0%,
            #9733ee 51%,
            #da22ff 100%
          );
          &:hover {
            background-position: right center;
          }
        }
        #flex-input {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          div {
            width: 200px;
          }
        }

        #preview-image {
          width: 200px;
          height: 200px;
          margin: auto;
          margin-top: 15px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    #user-info {
      width: 300px;
      float: right;
      vertical-align: top;
      #absolute-div-user {
        background: linear-gradient(to right, #da22ff, #9733ee);
        width: 280px;
        margin: 10px;
        padding: 15px;
        position: fixed;
        top: 80px;
        height: calc(100vh - 9rem);
        border-radius: 5px;
        overflow-y: scroll;
      }

      #absolute-div-user::-webkit-scrollbar {
        width: 0;
        display: none;
      }

      h4 {
        margin: 0px;
        text-align: center;
      }

      .list-group-item {
        margin: 0px;
        text-align: center;
        padding: 6px 20px;
        margin: 5px 0;
        background: white;
        border-radius: 5px;
        .profile-pic-holder {
          width: 45px;
          height: 45px;
          margin: 0px 5px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50px;
          }
        }

        .profile-name-holder {
          margin: 0px;
          padding-top: 5px;

          a {
            text-decoration: none;
            color: black;
            text-transform: capitalize;
          }
          a:hover {
            color: #9e00ce;
          }
        }
      }
    }
  }

  .open-chatbox {
    z-index: 9;
    cursor: pointer;
    position: fixed;
    bottom: 65px;
    right: 50px;
    img {
      width: 80px;
      height: 80px;
      border-radius: 10%;
      box-shadow: 0px 2px 12px 1px rgb(255, 255, 255);
    }
  }
}

@media only screen and (max-width: 900px) {
  #home-flex {
    #user-info {
      display: none;
      width: 0;
    }
  }
  .home-container {
    #home-flex {
      display: grid;
      grid-template-columns: 1fr 5fr;
    }
  }
}

@media only screen and (max-width: 700px) {
  #user-dashboard {
    display: none;
  }
  .home-container {
    #home-flex {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  .home-container #home-flex #post-info {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  #home-flex {
    #post-info {
      .card {
        margin: 80px 0 0 0 !important;
      }
    }
  }
}
