#layout-header nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey;
  position: fixed;
  width: 100%; }
  #layout-header nav .mini-logo a img {
    max-width: 230px;
    width: 23vw;
    height: 60px;
    border-radius: 20px;
    padding: 10px; }
  #layout-header nav .auth-links ul {
    display: flex;
    list-style: none;
    padding: 10px 10px 0 10px; }
    #layout-header nav .auth-links ul li a {
      background-image: linear-gradient(to right, #da22ff 0%, #9733ee 51%, #da22ff 100%);
      width: 100%;
      transition: 0.5s;
      background-size: 200% auto;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0 2px;
      padding: 10px;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      border: 2px solid; }
      #layout-header nav .auth-links ul li a:hover {
        background-position: right center;
        /* change the direction of the change here */
        text-decoration: none; }

@media only screen and (max-width: 350px) {
  #layout-header nav {
    justify-content: center;
    display: flex;
    flex-flow: column; }
  #layout-header nav .mini-logo a img {
    max-width: none;
    width: 230px;
    margin: 0 1rem; }
  #layout-header nav .auth-links ul li a {
    margin: 0 10px; } }
