.home-container {
  margin: 0;
  box-sizing: content-box;
  background: white; }
  .home-container #home-flex {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    box-sizing: content-box;
    box-sizing: border-box; }
    .home-container #home-flex .home-flex-child {
      margin-top: 80px;
      width: 300px; }
      .home-container #home-flex .home-flex-child .card {
        background-color: white;
        margin: 20px 0 0 0 !important; }
    .home-container #home-flex #user-dashboard #absolute-div-dashboard {
      position: fixed;
      background-color: whitesmoke;
      margin: 0 10px 10px 10px !important;
      padding: 15px;
      width: 280px;
      border-radius: 5px; }
    .home-container #home-flex #user-dashboard #dashboard-pic {
      height: 230px;
      width: 250px;
      max-width: 250px;
      margin: 0; }
      .home-container #home-flex #user-dashboard #dashboard-pic img {
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0; }
    .home-container #home-flex #user-dashboard .card-profile {
      width: 250px;
      border-radius: 0 0 8px 8px;
      padding: 10px;
      background-color: white; }
    .home-container #home-flex #user-dashboard #friends-dashboard-count h5 {
      font-size: 1rem; }
    .home-container #home-flex #user-dashboard #friend-info {
      margin-top: 370px; }
      .home-container #home-flex #user-dashboard #friend-info #absolute-div-friend {
        width: 280px;
        background-color: whitesmoke;
        margin: 10px;
        padding: 15px;
        position: fixed;
        height: 47vh;
        overflow-y: scroll;
        border-radius: 5px; }
      .home-container #home-flex #user-dashboard #friend-info #absolute-div-friend::-webkit-scrollbar {
        width: 0;
        display: none; }
      .home-container #home-flex #user-dashboard #friend-info h4 {
        margin: 0px;
        text-align: center; }
      .home-container #home-flex #user-dashboard #friend-info .list-group-item {
        text-align: center;
        padding: 6px 20px;
        margin: 5px 0;
        width: 250px;
        background-color: white;
        border-radius: 5px; }
        .home-container #home-flex #user-dashboard #friend-info .list-group-item .profile-pic-holder {
          width: 45px;
          height: 45px;
          margin: 0px 5px; }
          .home-container #home-flex #user-dashboard #friend-info .list-group-item .profile-pic-holder img {
            width: 100%;
            height: 100%;
            border-radius: 50px; }
        .home-container #home-flex #user-dashboard #friend-info .list-group-item .profile-name-holder {
          margin: 0px;
          padding-top: 5px; }
          .home-container #home-flex #user-dashboard #friend-info .list-group-item .profile-name-holder a {
            text-decoration: none;
            color: black;
            text-transform: capitalize; }
          .home-container #home-flex #user-dashboard #friend-info .list-group-item .profile-name-holder a:hover {
            color: #9e00ce; }
    .home-container #home-flex #post-info {
      width: 100%;
      padding: 0 1rem;
      background-color: whitesmoke; }
      .home-container #home-flex #post-info .card-body textarea {
        width: 100%; }
      .home-container #home-flex #post-info .card-body #post-btn {
        width: 100px;
        font-size: 20px;
        font-weight: 600;
        transition: 0.5s;
        background-size: 200% auto;
        border: none;
        background-image: linear-gradient(to right, #da22ff 0%, #9733ee 51%, #da22ff 100%); }
        .home-container #home-flex #post-info .card-body #post-btn:hover {
          background-position: right center; }
      .home-container #home-flex #post-info .card-body #flex-input {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; }
        .home-container #home-flex #post-info .card-body #flex-input div {
          width: 200px; }
      .home-container #home-flex #post-info .card-body #preview-image {
        width: 200px;
        height: 200px;
        margin: auto;
        margin-top: 15px; }
        .home-container #home-flex #post-info .card-body #preview-image img {
          width: 100%;
          height: 100%; }
    .home-container #home-flex #user-info {
      width: 300px;
      float: right;
      vertical-align: top; }
      .home-container #home-flex #user-info #absolute-div-user {
        background-color: whitesmoke;
        width: 280px;
        margin: 10px;
        padding: 15px;
        position: fixed;
        top: 70px;
        height: 90vh;
        border-radius: 5px;
        overflow-y: scroll; }
      .home-container #home-flex #user-info #absolute-div-user::-webkit-scrollbar {
        width: 0;
        display: none; }
      .home-container #home-flex #user-info h4 {
        margin: 0px;
        text-align: center; }
      .home-container #home-flex #user-info .list-group-item {
        margin: 0px;
        text-align: center;
        padding: 6px 20px;
        margin: 5px 0;
        background: white;
        border-radius: 5px; }
        .home-container #home-flex #user-info .list-group-item .profile-pic-holder {
          width: 45px;
          height: 45px;
          margin: 0px 5px; }
          .home-container #home-flex #user-info .list-group-item .profile-pic-holder img {
            width: 100%;
            height: 100%;
            border-radius: 50px; }
        .home-container #home-flex #user-info .list-group-item .profile-name-holder {
          margin: 0px;
          padding-top: 5px; }
          .home-container #home-flex #user-info .list-group-item .profile-name-holder a {
            text-decoration: none;
            color: black;
            text-transform: capitalize; }
          .home-container #home-flex #user-info .list-group-item .profile-name-holder a:hover {
            color: #9e00ce; }

@media only screen and (max-width: 900px) {
  #home-flex #user-info {
    display: none;
    width: 0; }
  .home-container #home-flex {
    display: grid;
    grid-template-columns: 1fr 5fr; } }

@media only screen and (max-width: 700px) {
  #user-dashboard {
    display: none; }
  .home-container #home-flex {
    display: grid;
    grid-template-columns: 1fr; }
  .home-container #home-flex #post-info {
    width: 100%; } }

@media only screen and (max-width: 350px) {
  #home-flex #post-info .card {
    margin: 80px 0 0 0 !important; } }
